
*{
    margin: 0;
    padding: 0;
    /* font-family: "Poppins", sans-serif; */
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    /* overflow-x: hidden; */
}
body{
    background-color: #212121;
    background-image: url("pexels-pixabay-255464.jpg");
    /* background: linear-gradient(black,transparent,black);
  overflow-x: hidden;
    background-size:cover; */
    position: relative;
}
.cont{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.mainlog {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 1.8rem;
    color: #B4B4B8;
    text-shadow: 4px 6px 4px rgba(137, 146, 143, 0.705);
}

.heading{
    margin: 0;
    padding: 2% 4%;
    font-size: xx-large;
    font-weight: 400;
    color: #B4B4B8;
}
#itemList{
width: 91vw;
height: 5vh;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 4px;
border-radius: 7px;
margin: 5px 10px;
}

.foodicon{
    color: white;
    font-weight: 200;
}
#itemList>p>i{
    color: black;
}
.head {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(20, 22, 25, 0.55);
    backdrop-filter: blur(5px);
    z-index: 100;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1% 0%;
}
.capsules {
    margin: 15px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
width: 100vw;
overflow: scroll;

}
.capsules::-webkit-scrollbar {
    display: none;
  }
.capsules>ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 10%; */
width: 100vw;


}
.capsules>ul>a>li{
background-color: rgba(94, 94, 94, 0.249);
    color: white;
border-radius: 25px;
    height: 3vh;
    padding: 8px;
display: flex;
align-items: center;

margin: 0px 8px;
list-style: none;
}

.foodicon>img {
    height: 25px;


}

input{
    height: 35px;
    width: 200px;
    border-radius: 5px;
    border: none;
    background-color: #ececec;
padding: 0px 5px;
}
.line{
    width: 100vw;
    border: 2px solid rgb(156, 156, 156);
    margin: 10px 0px;
}
i{
    margin: 0 3px;
}

.foodicon {
    display: flex;
    align-items: center;
    gap : 5px;

}


.foot{
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 49px;
    background: #383838cb;
    box-shadow:  5px 5px 10px #262626,
                 0px 0px 8px #4a4a4a;
width: 65vw;
height: 7vh;
gap:10%;
/* margin: 10px 60px; */
border-radius: 10px;
/* right: 45%; */
position:fixed;
left: 17%;
bottom: 5%;
}

.foot > div > a>i,img{
    color:#B4B4B8;
    font-size: xx-large;
   opacity: 0.6; 
}



.search-icon {
    position: absolute;
    top: 50%;
    right: 27px;
    transform: translateY(-50%);
    color: #555; 
    font-size: 1.2em;
    cursor: pointer;
}




.allline {
    border: 1px solid rgb(156, 156, 156);
    width: 90vw;
    margin: 0px 30px;
    padding: ;

}

.backimg1 {
    position: absolute;
    left: 60%;
    height: 20vh;
    top:4%;

}

.bgimg{
    position: absolute;
    z-index: -10;
    object-fit: cover;
    height: 100%;
    width: 100%;

    filter: brightness(0.2);

}

.price {
    color: #B4B4B8;
    font-weight: 500;
}
a{
color: inherit;
text-decoration: none;
}

#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: black;
    z-index: 100;
    transition: all ease 0.5s;
    top: 0%;
    display: flex;

    align-items: center;
    justify-content: center;
}

.loadani {
    font-size: 10vw;
    font-family: "Dancing Script", cursive;

    color: transparent;
    background: rgb(139, 139, 139);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation: loads 2s linear 1s;
    border: 2px solid rgb(139, 139, 139);
    height: 20vh;
    width: 60vw;
    border-radius: 50%;
    outline: 1px solid rgb(139, 139, 139);
    display: flex;
    justify-content: center;
    align-items: center;
}



@keyframes loads {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
